docs/nCciXSJHlESs4WeF-Approvals.json
{
  "name": "Approvals",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "requisition-approval-workflow",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -544,
        208
      ],
      "id": "f069bc7e-11d9-4e76-8137-b9d121a49153",
      "name": "Requisition Submission Webhook",
      "webhookId": "37b406ba-3f69-411a-9b8d-a2a9b43e41ea"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1R1h-GM79sMyO1uXafiF1wnlS4CX9roRvyAnTZ8p65U8",
          "mode": "list",
          "cachedResultName": "Requisition",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1R1h-GM79sMyO1uXafiF1wnlS4CX9roRvyAnTZ8p65U8/edit"
        },
        "sheetName": "Requisitions",
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "job_id",
              "displayName": "job_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "client",
              "displayName": "client",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "event_description",
              "displayName": "event_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "requestor_name",
              "displayName": "requestor_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "requestor_email",
              "displayName": "requestor_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "date_required",
              "displayName": "date_required",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "total_amount",
              "displayName": "total_amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "justification",
              "displayName": "justification",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "urgency",
              "displayName": "urgency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "submitted_by",
              "displayName": "submitted_by",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "submitted_at",
              "displayName": "submitted_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -240,
        144
      ],
      "id": "e6172f71-f34c-456e-8315-dc3cac0747b5",
      "name": "Save to Requisitions Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REDACTED",
          "name": "REPLACE_WITH_YOUR_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\":\"success\",\"message\":\"Requisition submitted and sent to managers for approval\",\"requisition_id\":\"{{$node[\\\"webhook-req\\\"].json[\\\"job_id\\\"]}}\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        224,
        160
      ],
      "id": "38e2a14c-eae1-4092-b9bb-d92b01ecb319",
      "name": "Return Success Response"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "kmongare4@gmail.com",
        "subject": "Requisition Approval",
        "message": "Kindly approve budget ",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -32,
        144
      ],
      "id": "740ce16f-e4e5-4f53-a997-f098cfd08b71",
      "name": "Send message and wait for response",
      "webhookId": "3d3fa83d-85c6-4225-af92-0080c6c1dfb5",
      "credentials": {
        "gmailOAuth2": {
          "id": "REDACTED",
          "name": "REPLACE_WITH_YOUR_CREDENTIAL"
        }
      }
    }
  ],
  "connections": {
    "Requisition Submission Webhook": {
      "main": [
        [
          {
            "node": "Save to Requisitions Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Requisitions Sheet": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "Return Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}