docs/SJUI5ohz4G7ZErCK-PrimeEdgeAi.json
{
  "name": "PrimeEdgeAi",
  "nodes": [
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\":\"success\",\"message\":\"Requisition submitted and sent to managers for approval\",\"requisition_id\":\"{{$node[\\\"webhook-req\\\"].json[\\\"job_id\\\"]}}\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        832,
        40
      ],
      "id": "e1ddb410-53da-4fa8-8a32-094e822e9004",
      "name": "Return Success Response"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1R1h-GM79sMyO1uXafiF1wnlS4CX9roRvyAnTZ8p65U8",
          "mode": "list",
          "cachedResultName": "Requisition",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1R1h-GM79sMyO1uXafiF1wnlS4CX9roRvyAnTZ8p65U8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.sheetName }}"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "sheetName",
              "displayName": "sheetName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Job_ID",
              "displayName": "Job_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Client",
              "displayName": "Client",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Event Description",
              "displayName": "Event Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Supplier",
              "displayName": "Supplier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Urgency",
              "displayName": "Urgency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Justification",
              "displayName": "Justification",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Requestor Name",
              "displayName": "Requestor Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Requestor Email",
              "displayName": "Requestor Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date Required",
              "displayName": "Date Required",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Submitted By",
              "displayName": "Submitted By",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Submitted Name",
              "displayName": "Submitted Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Submitted At",
              "displayName": "Submitted At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Qty",
              "displayName": "Qty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Days",
              "displayName": "Days",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Unit Cost (KES)",
              "displayName": "Unit Cost (KES)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Row Total",
              "displayName": "Row Total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "c0636ec5-6822-4905-80d8-518ab8bdca52",
      "name": "Append Rows",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        384,
        40
      ],
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REDACTED",
          "name": "REPLACE_WITH_YOUR_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "id": "626586bf-f495-4250-8923-b74199d72d24",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        160,
        40
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "documentId": {
          "__rl": true,
          "value": "1R1h-GM79sMyO1uXafiF1wnlS4CX9roRvyAnTZ8p65U8",
          "mode": "list",
          "cachedResultName": "Requisition",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1R1h-GM79sMyO1uXafiF1wnlS4CX9roRvyAnTZ8p65U8/edit?usp=drivesdk"
        },
        "title": "={{ $input.first().json.sheetName }}",
        "options": {}
      },
      "id": "1a94fa0b-83fb-44a4-94a2-b5b1139a8e45",
      "name": "Create Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -64,
        -32
      ],
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REDACTED",
          "name": "REPLACE_WITH_YOUR_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst input = raw.body || raw;\n\nconst sheetName = `Requisition - ${input.job_id}`;\n\nconst outputItems = input.line_items.map(item => {\n  const qty  = Number(item.quantity) || 0;\n  const days = Number(item.days) || 0;\n  const cost = Number(item.unit_cost) || 0;\n\n  return {\n    sheetName,\n    Job_ID: input.job_id,\n    Client: input.client,\n    \"Event Description\": input.event_description,\n    Supplier: input.supplier,\n    Urgency: input.urgency,\n    Justification: input.justification,\n    Notes: input.notes,\n    \"Requestor Name\": input.requestor_name,\n    \"Requestor Email\": input.requestor_email,\n    \"Date Required\": input.date_required,\n    \"Submitted By\": input.submitted_by,\n    \"Submitted Name\": input.submitted_by_name,\n    \"Submitted At\": input.submitted_at,\n    Category: item.category || '',\n    Description: item.description || '',\n    Qty: qty,\n    Days: days,\n    \"Unit Cost (KES)\": cost,\n    \"Row Total\": qty * days * cost\n  };\n});\n\nreturn outputItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        40
      ],
      "id": "1c6aa29c-a79f-4839-bea8-9a66d3bea4ef",
      "name": "Transform Data"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "requisition-request",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -544,
        48
      ],
      "id": "4e96b8c6-03d2-429b-87a6-ae2417de4185",
      "name": "Webhook",
      "webhookId": "6d152e76-01da-4839-9d0f-839fe2113737"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "kmongare4@gmail.com",
        "subject": "Requisition Approval",
        "message": "Kindly approve budget ",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        384,
        -80
      ],
      "id": "4f4744b8-833e-4a5e-a090-309c4aebab10",
      "name": "Send message and wait for response",
      "webhookId": "3d3fa83d-85c6-4225-af92-0080c6c1dfb5",
      "credentials": {
        "gmailOAuth2": {
          "id": "REDACTED",
          "name": "REPLACE_WITH_YOUR_CREDENTIAL"
        }
      }
    }
  ],
  "connections": {
    "Append Rows": {
      "main": [
        []
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Append Rows",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Sheet": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Transform Data": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Transform Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}